@charset 'UTF-8';

/* COMPONENTS LAYER
    This layer contains styles for specific components used throughout the site. 
    These components include buttons, cards, modals, forms, and other reusable UI elements. 
    The styles in this layer are designed to ensure consistency and cohesiveness across the site, while also allowing for customization and flexibility as needed. 
*/

header {
    padding: var(--spacing-sm) var(--spacing-md);
    background-color: light-dark(var(--light-pink), var(--dark-pink));
    color: light-dark(var(--black), var(--white));
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}
header p {
    font-family: var(--display);
    font-size: 1.5rem;
    text-transform: uppercase;
}
#hero {
    height: 28rem;
    position: relative;
}
#fueled-by {
    padding: var(--spacing-sm) var(--spacing-md);
    text-align: center;
    background-color: light-dark(var(--light-pink), var(--dark-pink));
}
.fuel {
    background-color: light-dark(var(--light-yellow), var(--dark-purple));
    color: light-dark(var(--black), var(--dark-yellow));
    rotate: -5deg;
    display: inline-block;
    padding: var(--spacing-xs) var(--spacing-sm);
    margin: 0 var(--spacing-xs);
    border-radius: var(--spacing-lg);
    min-width: 100px;
    font-weight: 600;
}
.inner {
    max-width: 1500px;
    margin: 0 auto;
}
.img-module div {
    width: 45%;
}
.img-module img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.img-module .text-module {
    padding: var(--spacing-md);
}

.background-image {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.btn {
    display: inline-block;
    padding: var(--spacing-xs) var(--spacing-sm);
    margin: 0 var(--spacing-sm);
    font-size: 1rem;
    font-weight: 600;
    border-radius: var(--spacing-md);
    background-color: light-dark(var(--light-pink), var(--dark-purple));
    color: light-dark(var(--black), var(--dark-yellow));
    text-align: center;
    transition: background-color 0.3s ease;
}