@charset 'UTF-8';

/* ======================
   HEADER
   ====================== */

    header {background-color: var(--color-surface-accent); color: var(--color-text-primary); position: fixed; top: 0; left: 0; width: 100%;z-index: 1000; box-shadow: 0 4px 8px rgba(var(--black), var(--opacity-low));}
    header .inner {display: flex; flex-direction: row; align-items: center; justify-content: space-between; padding: 0 var(--padding-default); margin: 0 auto; max-width: var(--max-content-width);}
    header #header-label {display: flex; flex-direction: row; align-items: center; justify-content: space-between; width: 100%;}
    header p {font-family: var(--font-headings); font-size: 1.5rem; text-transform: uppercase; margin: 0; padding: 0; }

/* ======================
   NAV
   ====================== */

    nav {display: flex; flex-direction: row; align-content: center; justify-content: flex-end; gap: var(--layout-gap-tight); overflow: none; width: 100%;}
    nav a {font-family: var(--font-interactive); color: var(--color-text-primary); text-decoration: none; padding: var(--padding-tight); transition: background-color 0.25s ease;}
    nav a:hover {background-color: var(--color-interactive-primary); color: var(--color-text-primary);}
    button#nav-toggle {display: none; font-size: 1.5rem;cursor: pointer; margin: 0; padding: var(--padding-tight) var(--padding-default); background: none; border: none; color: var(--color-text-primary);}
    button#nav-toggle:hover, button#nav-toggle.active {background-color: var(--color-interactive-primary); color: var(--color-text-headings);}

/* ======================
   MAIN
   ====================== */

    /* Hero Section */
    .hero {height: 30rem; position: relative; top: 0; z-index: 0; display: flex; flex-direction: column; align-items: center; justify-content: center; text-align: center;}
    .hero button {padding: var(--padding-tight);}

    /* Image Module */
    .img-module {display: flex; align-items: center; justify-content: center; gap: var(--layout-gap-default); padding: var(--section-spacing) var(--padding-default);}
    .img-module .btn {margin: var(--margin-default) 0 0 0;}

    .img-module :is(div, img) {width: 50%;}
    .img-module.img-left {flex-direction: row;}
    .img-module.img-right { flex-direction: row-reverse; }
    .img-module .text-col {padding: var(--padding-default);}

    /* Three Across Module */
    .three-across {display: flex; flex-direction: row; justify-content: space-between; align-items: stretch; margin: var(--margin-tight) 0;}
    .three-across article {display: flex; flex-direction: column;  justify-content: space-between; align-items: center; padding: var(--padding-default); margin: 0; border-radius: var(--border-radius-default); background-color: var(--color-surface-secondary);  color: var(--color-text-primary); width: 30%; }
    .three-across article .btn {margin: var(--margin-default) 0 0 0;}

    /* Buttons */
    .btn {display: inline-block; padding: var(--padding-tight) var(--padding-default); margin: 0 var(--margin-default); font-size: 1rem; font-weight: var(--font-weight-bold); border-radius: var(--border-radius-default); text-align: center; transition: background-color 0.3s ease; text-decoration: none; font-size: 0.75rem; text-transform: uppercase; font-family: var(--font-interactive);}
    .btn.btn-main {background-color: var(--color-interactive-primary); color: var(--color-text-headings);}
    .btn.btn-main:hover {background-color: var(--color-interactive-hover); color: var(--color-text-headings);}
    .btn.btn-secondary {background-color: var(--color-interactive-secondary); color: var(--color-text-headings);}

    /* HOME: Hero */
    #home-hero h1 {margin-top: 6rem;}
    #home-hero.background-image { background-image: linear-gradient(light-dark(rgba(var(--light-purple-rgb), var(--opacity-high)), rgba(var(--dark-purple-rgb), var(--opacity-high))), light-dark(rgba(var(--light-purple-rgb), var(--opacity-high)), rgba(var(--dark-purple-rgb), var(--opacity-high)))), url('../images/home-hero-bg.png'); background-position: top center;}

    /* HOME: Fueled By */
    #fueled-by {padding: var(--padding-tight) var(--padding-default); text-align: center; background-color: var(--color-surface-accent);  position: relative; z-index: 500; margin: 0;}

    #fueled-by span:not(.fuel) {font-family: var(--font-body); color: var(--color-text-primary); font-size: 1.25rem; margin: 0 0 var(--margin-default) 0;}

    #fueled-by .fuel {background-color: light-dark(var(--light-yellow), var(--dark-purple)); color: var(--color-text-headings); rotate: -5deg; display: inline-block; padding: var(--padding-tight) var(--padding-default); margin: var(--margin-tight); border-radius: var(--border-radius-lg); min-width: 18rem; font-weight: var(--font-weight-bold);}

    /* HOME: Choose Your Path */
    #choose-your-path h2 + p {margin: 0 0 var(--margin-default) 0;}

    /* HOME: Three Across */
    #home-professional {background-image: linear-gradient(light-dark(rgba(var(--light-purple-rgb), 0.75), rgba(var(--dark-purple-rgb), 0.75)), light-dark(rgba(var(--light-purple-rgb), 0.75), rgba(var(--dark-purple-rgb), 0.75))), url('../images/home-professional-bg.png');}
    #home-personal {background-image: linear-gradient(light-dark(rgba(var(--light-purple-rgb), 0.75), rgba(var(--dark-purple-rgb), 0.75)), light-dark(rgba(var(--light-purple-rgb), 0.75), rgba(var(--dark-purple-rgb), 0.75))),url('../images/home-personal-bg.png');}
    #home-leather {background-image: linear-gradient(light-dark(rgba(var(--light-purple-rgb), 0.75), rgba(var(--dark-purple-rgb), 0.75)), light-dark(rgba(var(--light-purple-rgb), 0.75), rgba(var(--dark-purple-rgb), 0.75))),url('../images/home-leather-bg.jpg'); background-size: cover; background-position: center;}

/* ======================
   FOOTER
   ====================== */
    html[data-theme="light"] #footer-bg-img {background-image: url('../images/light-footer-bg.png');}
    html[data-theme="dark"] #footer-bg-img {background-image: url('../images/dark-footer-bg.png');}
    #footer-bg-img {height: 90vh; position: relative; z-index: -1; top: -40vh;margin: 0 0 -40vh; background-position: top center; background-size: cover; background-repeat: no-repeat;}
    #footer-bg {background-color: var(--color-surface-footer); position: relative; z-index: 0; padding: var(--padding-loose) 0; margin: 0;}

    footer .inner {display: flex; flex-direction: row; align-items: center; justify-content: center; gap: var(--layout-gap-default); padding: 0 var(--padding-default); margin: 0;}

    #footer-left {padding: 0; color: var(--color-text-primary); min-width: 240px; width: 40%;}
    footer mark {color: light-dark(var(--midnight), var(--light-yellow)); text-transform: uppercase;}

    footer a {font-family: var(--font-interactive); display: block; color: var(--color-interactive-footer); margin: 0; font-weight: var(--font-weight-bold);}
    footer a:hover {color: var(--color-interactive-hover-footer);}

    footer #footer-nav {display: flex; flex-direction: column; align-items: flex-start; justify-content: center; gap: var(--layout-gap-tight); padding: var(--padding-tight);}
    footer #footer-nav .footer-subnav a { margin: 0 var(--margin-default);}

    #footer-copyright {text-align: center; background-color: var(--color-surface-accent); padding: var(--padding-tight) var(--padding-default); margin: 0; color: var(--color-text-primary);}
    #footer-copyright h2 { font-family: var(--font-interactive); font-size: 1rem; margin: 0;}
    #footer-copyright a {display: inline-block; margin: var(--margin-default) 0 var(--margin-tight);}

/* ======================
   RESPONSIVE OVERRIDES
   ====================== */

    @media (max-width: 850px) {
        header .inner {flex-direction: column;}
        header p {width: 100%;}

        nav {flex-direction: column; align-items: center; justify-content: flex-start; gap: var(--spacing-tight);}
        button#nav-toggle { display: inline;}
        nav a {padding: var(--padding-tight); width: 100%; text-align: center;}

        #fueled-by span {display: block;}
        #fueled-by span:not(.fuel) {margin: 0;}

        .img-module.img-left, .img-module.img-right {flex-direction: column-reverse;}
        .img-module.inner {padding: 0;}
        .img-module :is(div, img) {width: 100%;}

        .three-across {flex-direction: column;}
        .three-across :is(article) {width: 100%; margin: var(--margin-default) 0;}
        
        #footer-bg-img {height: 50vh; top: -30vh; margin: 0 0 -30vh;}
        footer .inner {flex-direction: column-reverse; gap: var(--spacing-loose); position: relative;}
        footer #footer-nav, footer #footer-terms {flex-direction: row; align-items: center; justify-content: center; margin: 0 0 var(--margin-default); }
        footer #footer-nav .footer-subnav {display: none;}
        #footer-left, #footer-nav {width: 100%;}
        .mobile-hide {display: none;}
    }
