@charset 'UTF-8';

/* COMPONENTS LAYER
    This layer contains styles for specific components used throughout the site. 
    These components include buttons, cards, modals, forms, and other reusable UI elements. 
    The styles in this layer are designed to ensure consistency and cohesiveness across the site, while also allowing for customization and flexibility as needed. 
*/

header {
    padding: var(--spacing-sm) var(--spacing-md);
    background-color: light-dark(var(--light-pink), var(--dark-pink));
    color: light-dark(var(--black), var(--white));
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}
header p {
    font-family: var(--display);
    font-size: 1.5rem;
    text-transform: uppercase;
}
#hero {
    height: 28rem;
    position: relative;
    top: 1rem;
    z-index: 0;
}
#hero h1 {
    margin-top: 6rem;
}
#fueled-by {
    padding: var(--spacing-sm) var(--spacing-md);
    text-align: center;
    background-color: light-dark(var(--light-pink), var(--dark-pink));
    position: relative;
    z-index: 500;
}
.fuel {
    background-color: light-dark(var(--light-yellow), var(--dark-purple));
    color: light-dark(var(--black), var(--dark-yellow));
    rotate: -5deg;
    display: inline-block;
    padding: var(--spacing-xs) var(--spacing-sm);
    margin: 0 var(--spacing-xs);
    border-radius: var(--spacing-lg);
    min-width: 100px;
    font-weight: 600;
}
.inner {
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 var(--spacing-sm);
}

.inner.padded {
    padding: var(--spacing-lg) 0;
}
.img-module :is(div, img) {
    width: 50%;
}
.img-module .text-module {
    padding: var(--spacing-md);
}
.three-across {
    margin: var(--spacing-lg) 0;
}
.three-across article {
    padding: var(--spacing-md);
    border-radius: var(--spacing-md);
    background-color: light-dark(var(--light-purple), var(--midnight));
    color: light-dark(var(--black), var(--white));
    width: 30%;
}

#footer-bg-img {
    height: 90vh;
    position: relative;
    z-index: -1;
    top: -40vh;
    margin: 0 0 -40vh;
    background-position: top center;
}
#footer-bg {
    background-color: light-dark(var(--pastel), var(--dark-purple));
    padding: var(--spacing-lg) 0;
}
#footer-left {
    width: 40%;
}

#footer-nav {
    width: 30%;
    padding: var(--spacing-md);
    gap: 0;
}

footer a {
    font-family: var(--sans);
    display: block;
    color: light-dark(var(--mignight), var(--pastel));
    text-decoration: none;
    margin: 0;
}
footer a:hover {
    color: light-dark(var(--red), var(--light-pink));
}
#footer-nav .footer-subnav a {
    margin: 0 var(--spacing-sm);
}

#footer-copyright {
    background-color: light-dark(var(--light-pink), var(--dark-pink));
    padding: var(--spacing-sm) var(--spacing-md);
    color: light-dark(var(--black), var(--white));
}
#footer-copyright h2 {
    font-family: var(--sans);
    font-size: 1rem;
    margin: 0;}
#footer-copyright a {
    display: inline-block;
}

html[data-theme="light"] #footer-bg-img {background-image: url('../images/light-footer-bg.png');}
html[data-theme="dark"] #footer-bg-img {background-image: url('../images/dark-footer-bg.png');}

@media (max-width: 600px) {
    .img-module :is(div, img) {
        width: 100%;
    }
}