@charset "UTF-8";
html {font-size: clamp(16px, 0.8333rem + 0.4444vw, 20px)}
html[data-theme="system"] {color-scheme: light dark;}
html[data-theme="light"] {color-scheme: light;}
html[data-theme="dark"] {color-scheme: dark;}
* { margin: 0; padding: 0; box-sizing: border-box; font-family: Arial, sans-serif; font-size: 1rem; line-height: 1.5;} 
header, main, footer, article, section {display: block;}
input, textarea, select, button { font-family: inherit; font-size: inherit; border: none; outline: none; }
a { text-decoration: none; color: inherit; cursor: pointer;}
button { cursor: pointer; } 
p, a, span { margin: 0; padding: 0; font-size: 1rem; font-weight: 400;}
button {display: inline-block; background: none; border: none; padding: 0; margin: 0; font-size: 1rem; font-weight: 600; color: inherit;}
small, time {margin: 0; padding: 0; font-size: 0.75rem; font-weight: 400;}
h1, h2, h3, h4, h5, h6 { margin: 0;} 
h1 {font-size: 4rem;}
h2 {font-size: 2.5rem;}
h3 {font-size: 1.5rem;font-weight: 300;}
h4 {font-size: 1rem;font-weight: 700;}
h5 {font-size: 1rem; font-weight: 700;}
h6 {font-size: 1rem; font-weight: 400;}
mark {background: none; padding: 0; margin: 0;}