@charset "UTF-8";

/* Flexbox utilities */
.flex-row, .mobile-flex-row { display: flex; flex-direction: row;}
.flex-row-reverse { display: flex; flex-direction: row-reverse;}
.flex-col { display: flex; flex-direction: column;}
.flex-row, .flex-col { gap: var(--layout-gap-default);}
.align-center { align-items: center; }
.align-stretch { align-items: stretch; }
.align-start { align-items: flex-start; }
.align-end { align-items: flex-end; }
.justify-center { justify-content: center; }
.justify-start { justify-content: flex-start; }
.justify-end { justify-content: flex-end; }
.justify-space-between { justify-content: space-between; }
.justify-space-around { justify-content: space-around; }

/* Size utilities */
.w-100 { width: 100%; }
.h-100 { height: 100%; }
.inner {max-width: var(--max-content-width); width: 100%; margin: 0 auto; padding: 0 var(--padding-default);}
.inner.padded {padding: var(--padding-default);}

/* Text utilities */
.text-center { text-align: center; }
.text-left { text-align: left; }
.text-right { text-align: right; }
.text-uppercase { text-transform: uppercase; }

/* Image utilities */
.object-cover { object-fit: cover; }
.object-contain { object-fit: contain; }

.light-icon, .dark-icon {display: none;}
html[data-theme="light"] .light-icon {display: block;}
html[data-theme="dark"] .dark-icon {display: block;}

.background-image {background-size: cover; background-position: center; background-repeat: no-repeat; }

/* Color utilities */
.text-primary   { color: var(--color-text-primary); }
.text-headings  { color: var(--color-text-headings); }    
.text-secondary { color: var(--color-text-secondary); }
.text-accent    { color: var(--color-text-accent); }

.bg-primary     { background-color: var(--color-surface-primary); }
.bg-secondary   { background-color: var(--color-surface-secondary);}
.bg-accent      { background-color: var(--color-surface-accent); }

/* Responsive utilities */
@media (max-width: 850px) {
    .flex-row { flex-direction: column; }
    .mobile-hide {display: none;}
}